:root {
  --white: hsl(0, 0%, 100%);
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent-violet: hsl(277, 64%, 61%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
  --font-1: "Inter", sans-serif;
  --font-2: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--main-background);
  font-family: var(--font-2);
  font-size: 15px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}

.card {
  background-color: var(--card-background);
  max-width: 350px;
  /* height: 375px; */
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

h1,
h2 {
  color: var(--white);
}

h1 span {
  color: var(--accent-violet);
}

p {
  color: var(--main-paragraph);
}

.stats p {
  font-size: 12px;
  letter-spacing: 1px;
  margin: 5px;
  color: var(--stat-headings);
}

.stats h2 {
  margin: 0;
}

.stats {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.stats section {
  display: flex;
  flex-direction: column;
  padding: 15px 0 20px;
}

picture {
  background-color: var(--accent-violet);
}

picture img {
  mix-blend-mode: multiply;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--stat-headings);
}

.attribution a {
  color: var(--main-paragraph);
}
